# Periodic download of IEX stock-ticker data

## Read IEX API credentials from `~/.config/iex.ini`

In [1]:
from pathlib import Path
config_path = Path.home() / '.config' / 'iex.ini'

from configparser import ConfigParser
config = ConfigParser()
config.read(str(config_path))
iex_config = config['iex']

api = 'https://cloud.iexapis.com'
public_key = iex_config['public_key']
secret_key = iex_config['secret_key']

In [2]:
# tickers = sorted("MMM ABT ABBV ABMD ACN ATVI ADBE AMD AAP AES AMG AFL A APD AKAM ALK ALB ARE ALXN ALGN ALLE AGN ADS LNT ALL GOOGL GOOG MO AMZN AMCR AEE AAL AEP AXP AIG AMT AWK AMP ABC AME AMGN APH ADI ANSS ANTM AON AOS APA AIV AAPL AMAT APTV ADM ARNC ANET AJG AIZ ATO T ADSK ADP AZO AVB AVY BKR BLL BAC BK BAX BBT BDX BRK.B BBY BIIB BLK HRB BA BKNG BWA BXP BSX BMY AVGO BR BF.B CHRW COG CDNS CPB COF CPRI CAH KMX CCL CAT CBOE CBRE CBS CDW CE CELG CNC CNP CTL CERN CF SCHW CHTR CVX CMG CB CHD CI XEC CINF CTAS CSCO C CFG CTXS CLX CME CMS KO CTSH CL CMCSA CMA CAG CXO COP ED STZ COO CPRT GLW CTVA COST COTY CCI CSX CMI CVS DHI DHR DRI DVA DE DAL XRAY DVN FANG DLR DFS DISCA DISCK DISH DG DLTR D DOV DOW DTE DUK DRE DD DXC ETFC EMN ETN EBAY ECL EIX EW EA EMR ETR EOG EFX EQIX EQR ESS EL EVRG ES RE EXC EXPE EXPD EXR XOM FFIV FB FAST FRT FDX FIS FITB FE FRC FISV FLT FLIR FLS FMC F FTNT FTV FBHS FOXA FOX BEN FCX GPS GRMN IT GD GE GIS GM GPC GILD GL GPN GS GWW HAL HBI HOG HIG HAS HCA HCP HP HSIC HSY HES HPE HLT HFC HOLX HD HON HRL HST HPQ HUM HBAN HII IEX IDXX INFO ITW ILMN IR INTC ICE IBM INCY IP IPG IFF INTU ISRG IVZ IPGP IQV IRM JKHY JEC JBHT SJM JNJ JCI JPM JNPR KSU K KEY KEYS KMB KIM KMI KLAC KSS KHC KR LB LHX LH LRCX LW LVS LEG LDOS LEN LLY LNC LIN LKQ LMT L LOW LYB MTB MAC M MRO MPC MKTX MAR MMC MLM MAS MA MKC MXIM MCD MCK MDT MRK MET MTD MGM MCHP MU MSFT MAA MHK TAP MDLZ MNST MCO MS MOS MSI MSCI MYL NDAQ NOV NTAP NFLX NWL NEM NWSA NWS NEE NLSN NKE NI NBL JWN NSC NTRS NOC NCLH NRG NUE NVDA NVR ORLY OXY OMC OKE ORCL PCAR PKG PH PAYX PYPL PNR PBCT PEP PKI PRGO PFE PM PSX PNW PXD PNC PPG PPL PFG PG PGR PLD PRU PEG PSA PHM PVH QRVO PWR QCOM DGX RL RJF RTN O REG REGN RF RSG RMD RHI ROK ROL ROP ROST RCL CRM SBAC SLB STX SEE SRE SHW SPG SWKS SLG SNA SO LUV SPGI SWK SBUX STT SYK STI SIVB SYMC SYF SNPS SYY TMUS TROW TTWO TPR TGT TEL FTI TFX TXN TXT TMO TIF TWTR TJX TSCO TDG TRV TRIP TSN UDR ULTA USB UAA UA UNP UAL UNH UPS URI UTX UHS UNM VFC VLO VAR VTR VRSN VRSK VZ VRTX VIAB V VNO VMC WAB WMT WBA DIS WM WAT WEC WCG WFC WELL WDC WU WRK WY WHR WMB WLTW WYNN XEL XRX XLNX XYL YUM ZBH ZION ZTS".split(" "))
# aapl = tickers.index('AAPL'); aapl
ticker = 'AAPL'
tickers = [ticker]
num_tickers = len(tickers)
num_tickers

1

In [60]:
from datetime import datetime as dt, timedelta as Δ
from dateutil.parser import parse

strptime = dt.strptime
time = dt.now
now = time()
today = now.date()
today.strftime('%Y-%m-%d')

'2019-11-03'

In [4]:
data_dir = Path.cwd() / 'data'
data_dir.mkdir(parents=True, exist_ok=True)

In [5]:
from sys import executable as python
!{python} -m pip install -Uq requests
from requests import get as GET

In [44]:
import json

def fetch(date, ticker, refetch_empty=False):
    date_str = date.strftime('%Y%m%d')
    out_path = data_dir / ('%s-%s' % (date_str, ticker))
    refetch = False
    if out_path.exists():
        if refetch_empty:
            with out_path.open('r') as f:
                data = json.load(f)
                if not data:
                    refetch = True
                    print('Re-fetching data for %s from %s' % (ticker, date_str))
                else:
                    return True
        else:
            return True
    else:
        print('Fetching data for %s from %s' % (ticker, date_str))

    url = f'https://cloud.iexapis.com/stable/stock/{ticker}/chart/date/{date_str}?token={secret_key}'
    resp = GET(url)
    resp.raise_for_status()
    with out_path.open('wb') as f:
        f.write(resp.content)

    data = json.loads(resp.content)
    if data:
        if refetch:
            print('Re-fetch found data for %s %s' % (date_str, ticker))
        return True

    return False

In [45]:
%%time
from concurrent.futures import ThreadPoolExecutor

end_date = today
start_date = datetime(2019, 4, 1).date()
N = 32
refetch_empty = False

def get_dates(start_date, end_date, step=1):
    date = start_date
    while date != end_date:
        if date.weekday() <= 4:
            yield date
        date += Δ(days=step)

dates = list(get_dates(start_date, end_date))

with ThreadPoolExecutor(max_workers = N) as p:
    results = p.map(
        lambda t: fetch(t[0], t[1], refetch_empty=refetch_empty), 
        [ (date, ticker) for date in dates for ticker in tickers ]
    )
    
    found_data = True in results
    if not found_data:
        print('No data found for %s' % date)

CPU times: user 12.6 ms, sys: 5.77 ms, total: 18.3 ms
Wall time: 14.5 ms

In [24]:
!{python} -m pip install -Uq pandas
from pandas import concat, DataFrame as DF, read_csv, read_json
import pandas as pd

In [13]:
minutes = 390  # [9:30am,4:00pm)

In [14]:
features = [ 'open', 'close', 'high', 'low', 'average', 'volume', 'notional', 'numberOfTrades' ]
num_features = len(features)

In [15]:
def load_data_arr(date, ticker):
    date_str = date.strftime('%Y%m%d')
    out_path = data_dir / ('%s-%s' % (date_str, ticker))
    if not out_path.exists():
        arr = zeros((minutes, len(features)))
        arr[:] = nan
        return arr
    df = read_json(out_path)
    if df.empty:
        arr = zeros((minutes, len(features)))
        arr[:] = nan
        return arr
    arr = df[features].values
    assert arr.shape == (minutes, len(features))
    return arr

In [16]:
!{python} -m pip install -Uq numpy joblib
import numpy as np
from numpy import array, nan, zeros, count_nonzero as cnz, isnan as na, mean, std, unique
from numpy.random import shuffle, permutation
from joblib import Parallel, delayed

In [17]:
def load_date_arr(date):
    arr = array([ 
        load_data_arr(start_date, ticker) 
        for ticker in tickers 
    ]) \
    .reshape((
        minutes, 
        len(tickers), 
        len(features),
    ))
    assert arr.shape == (minutes, num_tickers, len(features))
    return arr

In [80]:
def load_ticker_date_df(date, ticker):
    date_str = date.strftime('%Y%m%d')
    out_path = data_dir / ('%s-%s' % (date_str, ticker))
    if not out_path.exists():
        return None
    df = read_json(out_path)
    if df.empty:
        return None
    df['datetime'] = df['date'].apply(lambda d: d.strftime('%Y-%m-%d')) + ' ' + df['minute']
    df.drop(columns=['date', 'minute'])
    df = df[['datetime'] + features]
    df['datetime'] = df['datetime'].apply(lambda s: strptime(s, '%Y-%m-%d %H:%M'))
    return df

In [93]:
def load_ticker_df(ticker, N=None, limit=None):
    if limit is None:
        ds = dates
    else:
        ds = dates[:limit]

    if N is None:
        df = concat([ load_ticker_date_df(date, ticker) for date in ds ])
    else:
        df = concat(Parallel(n_jobs=N)( delayed(load_ticker_date_df)(date, ticker) for date in ds ))
    
    df.set_index('datetime', inplace=True)
    df.sort_index(inplace=True)

    for col in aapl.columns:
        df[col] = df[col].apply(lambda n: nan if n < 0 else n)

    return df

In [94]:
%%time
aapl = load_ticker_df('AAPL'); aapl

CPU times: user 4.61 s, sys: 62.7 ms, total: 4.67 s
Wall time: 4.73 s

,open,close,high,low,average,volume,notional,numberOfTrades
datetime,,,,,,,,
2019-04-01 09:30:00,191.645,190.650,191.645,190.60,191.189,4320,825935.940,44
2019-04-01 09:31:00,190.700,190.980,190.980,190.64,190.761,3246,619210.510,32
2019-04-01 09:32:00,191.060,190.930,191.090,190.78,190.951,2253,430211.740,30
2019-04-01 09:33:00,190.980,190.830,191.010,190.76,190.946,2241,427911.290,27
2019-04-01 09:34:00,190.760,190.700,190.760,190.60,190.666,1069,203822.465,12
...,...,...,...,...,...,...,...,...
2019-11-01 15:55:00,255.350,255.540,255.620,255.29,255.528,4917,1256432.140,36
2019-11-01 15:56:00,255.530,255.730,255.750,255.52,255.616,4788,1223891.590,42
2019-11-01 15:57:00,255.740,255.730,255.880,255.73,255.822,3798,971613.530,38
2019-11-01 15:58:00,255.730,255.665,255.780,255.61,255.661,8396,2146526.195,88
2019-11-01 15:59:00,255.665,255.880,255.880,255.65,255.743,11754,3006000.545,72

In [95]:
aapl.count()

open              55577
close             55577
high              55577
low               55577
average           55577
volume            56367
notional          56367
numberOfTrades    56367
dtype: int64

In [101]:
nan_idxs = aapl.isna().any(axis=1); nan_idxs
nans = aapl[nan_idxs]
nans

,open,close,high,low,average,volume,notional,numberOfTrades
datetime,,,,,,,,
2019-04-02 13:29:00,NaN,NaN,NaN,NaN,NaN,0,0.0,0
2019-04-05 13:36:00,NaN,NaN,NaN,NaN,NaN,0,0.0,0
2019-04-05 14:29:00,NaN,NaN,NaN,NaN,NaN,0,0.0,0
2019-04-15 13:33:00,NaN,NaN,NaN,NaN,NaN,0,0.0,0
2019-04-16 13:39:00,NaN,NaN,NaN,NaN,NaN,0,0.0,0
...,...,...,...,...,...,...,...,...
2019-11-01 12:46:00,NaN,NaN,NaN,NaN,NaN,0,0.0,0
2019-11-01 13:24:00,NaN,NaN,NaN,NaN,NaN,0,0.0,0
2019-11-01 13:29:00,NaN,NaN,NaN,NaN,NaN,0,0.0,0
2019-11-01 13:45:00,NaN,NaN,NaN,NaN,NaN,0,0.0,0
2019-11-01 14:37:00,NaN,NaN,NaN,NaN,NaN,0,0.0,0

In [124]:
last_valid_idx = -1
last_close = -1
last_closes = []
for idx, valid in enumerate(~nan_idxs):
    if valid:
        last_valid_idx = idx
        last_close = aapl['close'].iloc[idx]
    if last_valid_idx < 0:
        last_closes.append(nan)
    else:
        last_closes.append(last_close)
last_closes

[190.65,
 190.98,
 190.93,
 190.83,
 190.7,
 190.85,
 190.77,
 190.71,
 190.3,
 190.34,
 190.53,
 190.07,
 190.13,
 190.2,
 190.35,
 190.12,
 190.19,
 190.27,
 190.13,
 190.27,
 190.24,
 190.365,
 190.34,
 190.165,
 189.72,
 189.95,
 190.19,
 190.2,
 190.17,
 190.15,
 190.35,
 190.37,
 190.3,
 190.41,
 190.09,
 189.92,
 189.57,
 189.02,
 189.09,
 189.24,
 188.95,
 188.8,
 189.1,
 188.98,
 189.115,
 189.28,
 189.35,
 189.37,
 189.29,
 189.39,
 189.17,
 189.09,
 189.11,
 189.15,
 188.86,
 188.85,
 188.79,
 188.64,
 188.76,
 188.945,
 188.99,
 188.83,
 188.9,
 188.795,
 188.875,
 188.73,
 188.805,
 188.735,
 188.64,
 188.7,
 188.69,
 188.6,
 188.68,
 188.54,
 188.475,
 188.62,
 188.74,
 188.84,
 188.83,
 188.95,
 188.915,
 189.05,
 189.02,
 189.02,
 189.21,
 189.29,
 189.44,
 189.41,
 189.35,
 189.4,
 189.5,
 189.47,
 189.84,
 190.09,
 190.0,
 190.085,
 190.285,
 190.25,
 190.265,
 190.19,
 190.13,
 190.13,
 190.2,
 190.21,
 190.15,
 190.11,
 190.16,
 190.09,
 190.08,
 189.94,
 189.97,
 189.95,
 189.99,
 190.18,
 190.05,
 190.2,
 190.18,
 190.27,
 190.13,
 190.17,
 190.18,
 190.13,
 190.15,
 190.19,
 189.97,
 189.92,
 189.93,
 189.96,
 190.04,
 189.98,
 189.97,
 189.92,
 189.9,
 189.85,
 189.73,
 189.84,
 189.94,
 189.95,
 190.05,
 190.13,
 190.11,
 190.16,
 190.12,
 190.21,
 189.98,
 190.085,
 190.09,
 190.1,
 190.175,
 190.18,
 190.17,
 190.185,
 190.29,
 190.4,
 190.36,
 190.26,
 190.37,
 190.11,
 189.98,
 189.92,
 189.96,
 190.09,
 190.11,
 190.13,
 190.03,
 190.07,
 190.14,
 190.15,
 190.17,
 190.15,
 190.13,
 190.105,
 190.08,
 190.15,
 190.105,
 190.055,
 190.1,
 190.15,
 190.205,
 190.255,
 190.24,
 190.26,
 190.23,
 190.2,
 190.23,
 190.28,
 190.3,
 190.34,
 190.28,
 190.26,
 190.29,
 190.235,
 190.22,
 190.15,
 190.21,
 190.17,
 190.28,
 190.26,
 190.26,
 190.29,
 190.3,
 190.25,
 190.28,
 190.32,
 190.28,
 190.27,
 190.29,
 190.36,
 190.53,
 190.55,
 190.55,
 190.58,
 190.6,
 190.64,
 190.63,
 190.54,
 190.47,
 190.4,
 190.365,
 190.33,
 190.29,
 190.24,
 190.28,
 190.285,
 190.17,
 190.21,
 189.985,
 190.06,
 190.19,
 190.075,
 190.1,
 190.15,
 190.14,
 190.17,
 190.185,
 190.17,
 190.22,
 190.19,
 190.21,
 190.22,
 190.16,
 190.17,
 190.22,
 190.31,
 190.39,
 190.3,
 190.34,
 190.37,
 190.28,
 190.33,
 190.36,
 190.38,
 190.35,
 190.41,
 190.37,
 190.39,
 190.54,
 190.57,
 190.51,
 190.51,
 190.53,
 190.53,
 190.59,
 190.63,
 190.6,
 190.68,
 190.74,
 190.72,
 190.7,
 190.73,
 190.76,
 190.8,
 190.77,
 190.58,
 190.585,
 190.54,
 190.58,
 190.62,
 190.625,
 190.61,
 190.64,
 190.66,
 190.645,
 190.635,
 190.59,
 190.585,
 190.51,
 190.55,
 190.49,
 190.49,
 190.59,
 190.59,
 190.65,
 190.66,
 190.63,
 190.7,
 190.73,
 190.79,
 190.66,
 190.61,
 190.72,
 190.72,
 190.77,
 190.7,
 190.74,
 190.72,
 190.61,
 190.61,
 190.645,
 190.655,
 190.75,
 190.72,
 190.78,
 190.73,
 190.735,
 190.68,
 190.81,
 190.85,
 190.87,
 190.785,
 190.83,
 190.77,
 190.79,
 190.79,
 190.79,
 190.85,
 190.88,
 190.98,
 191.01,
 191.09,
 190.98,
 191.05,
 191.09,
 191.12,
 191.08,
 191.06,
 191.05,
 191.04,
 191.01,
 190.95,
 190.81,
 190.84,
 190.92,
 190.83,
 190.92,
 190.92,
 190.99,
 190.97,
 191.06,
 191.065,
 190.97,
 191.035,
 191.03,
 191.02,
 191.01,
 191.01,
 191.02,
 191.045,
 191.03,
 191.13,
 191.13,
 191.1,
 191.11,
 191.0,
 191.035,
 191.04,
 191.01,
 191.04,
 190.98,
 191.0,
 191.035,
 191.045,
 191.0,
 191.135,
 191.09,
 191.14,
 191.13,
 191.015,
 190.96,
 191.05,
 191.06,
 191.05,
 191.08,
 191.135,
 191.16,
 191.32,
 191.29,
 191.225,
 191.17,
 191.26,
 191.37,
 191.54,
 192.09,
 191.96,
 192.24,
 192.35,
 192.59,
 192.73,
 192.77,
 192.53,
 192.6,
 192.51,
 192.52,
 192.4,
 192.42,
 192.44,
 192.8,
 192.87,
 192.95,
 192.91,
 192.67,
 192.82,
 192.73,
 192.76,
 192.46,
 192.16,
 192.09,
 191.94,
 191.84,
 191.72,
 191.88,
 191.7,
 191.84,
 191.96,
 192.1,
 192.19,
 192.24,
 192.42,
 192.43,
 192.53,
 192.31,
 192.42,
 192.47,
 192.56,
 192.66,
 192.64,
 192.66,
 192.66,
 192.73,
 192.715,
 192.7,
 192.81,
 192.855,
 192.77,
 192.72,
 192.89,
 192.92,
 192.79,
 192.76,
 192.81,
 192.76,
 192.8,
 192.71,
 192.75,
 192.78,
 192.79,
 192.54,
 192.63,
 192.48,
 192.54,
 192.54,
 192.56,
 192.53,
 192.65,
 192.57,
 192.53,
 192.55,
 192.65,
 192.52,
 192.59,
 192.69,
 192.77,
 192.73,
 192.78,
 192.69,
 192.71,
 192.63,
 192.67,
 192.73,
 192.78,
 192.82,
 192.73,
 192.61,
 192.43,
 192.37,
 192.31,
 192.3,
 192.31,
 192.41,
 192.3,
 192.28,
 192.3,
 192.3,
 192.15,
 192.19,
 192.25,
 192.38,
 192.435,
 192.44,
 192.44,
 192.39,
 192.43,
 192.46,
 192.365,
 192.4,
 192.4,
 192.46,
 192.43,
 192.41,
 192.4,
 192.39,
 192.405,
 192.485,
 192.435,
 192.42,
 192.43,
 192.455,
 192.45,
 192.495,
 192.47,
 192.49,
 192.51,
 192.56,
 192.5,
 192.56,
 192.63,
 192.69,
 192.63,
 192.62,
 192.6,
 192.61,
 192.63,
 192.64,
 192.61,
 192.68,
 192.64,
 192.61,
 192.6,
 192.56,
 192.585,
 192.56,
 192.61,
 192.64,
 192.68,
 192.64,
 192.58,
 192.55,
 192.63,
 192.6,
 192.57,
 192.62,
 192.61,
 192.625,
 192.61,
 192.68,
 192.66,
 192.66,
 192.65,
 192.64,
 192.65,
 192.71,
 192.81,
 192.74,
 192.71,
 192.68,
 192.735,
 192.75,
 192.82,
 192.82,
 192.88,
 192.87,
 192.89,
 192.88,
 192.94,
 192.95,
 192.98,
 192.97,
 192.92,
 192.925,
 192.95,
 192.93,
 192.93,
 192.925,
 192.76,
 192.73,
 192.7,
 192.76,
 192.81,
 192.85,
 192.82,
 192.79,
 192.81,
 192.79,
 192.835,
 192.88,
 192.79,
 192.78,
 192.805,
 192.795,
 192.84,
 192.81,
 192.78,
 192.66,
 192.735,
 192.79,
 192.78,
 192.82,
 192.78,
 192.9,
 192.86,
 192.85,
 192.87,
 192.85,
 192.88,
 192.875,
 192.87,
 192.88,
 192.84,
 192.845,
 192.875,
 192.88,
 192.92,
 192.92,
 192.92,
 192.96,
 192.925,
 192.995,
 192.99,
 193.0,
 193.0,
 193.08,
 193.08,
 193.08,
 193.125,
 193.21,
 193.24,
 193.19,
 193.17,
 193.19,
 193.14,
 193.15,
 193.22,
 193.21,
 193.22,
 193.19,
 193.36,
 193.41,
 193.44,
 193.455,
 193.49,
 193.53,
 193.49,
 193.48,
 193.52,
 193.75,
 193.79,
 193.69,
 193.69,
 193.63,
 193.63,
 193.76,
 193.75,
 193.62,
 193.62,
 193.75,
 193.74,
 193.79,
 193.67,
 193.76,
 193.64,
 193.585,
 193.56,
 193.59,
 193.51,
 193.54,
 193.5,
 193.53,
 193.54,
 193.53,
 193.49,
 193.52,
 193.485,
 193.43,
 193.47,
 193.4,
 193.39,
 193.38,
 193.37,
 193.45,
 193.52,
 193.54,
 193.535,
 193.6,
 193.56,
 193.565,
 193.65,
 193.68,
 193.67,
 193.695,
 193.68,
 193.62,
 193.67,
 193.65,
 193.595,
 193.61,
 193.67,
 193.65,
 193.68,
 193.73,
 193.69,
 193.75,
 193.77,
 193.78,
 193.73,
 193.73,
 193.82,
 193.88,
 193.875,
 193.93,
 193.97,
 193.99,
 194.15,
 194.24,
 194.17,
 194.285,
 194.2,
 194.13,
 194.11,
 194.05,
 193.96,
 193.96,
 194.04,
 193.91,
 193.99,
 194.03,
 194.01,
 194.03,
 193.94,
 193.94,
 193.98,
 193.94,
 193.975,
 193.97,
 194.03,
 194.115,
 194.07,
 194.08,
 194.1,
 194.1,
 193.99,
 194.025,
 194.095,
 194.05,
 194.14,
 194.08,
 194.11,
 194.21,
 194.25,
 194.315,
 194.24,
 194.34,
 194.32,
 194.38,
 194.38,
 194.34,
 194.32,
 194.28,
 194.285,
 194.31,
 194.36,
 194.34,
 194.29,
 194.3,
 194.36,
 194.38,
 194.34,
 194.31,
 194.37,
 194.45,
 194.06,
 193.15,
 193.61,
 193.75,
 193.94,
 194.1,
 194.41,
 194.67,
 194.82,
 194.735,
 194.87,
 194.89,
 194.56,
 194.8,
 194.92,
 194.935,
 194.78,
 194.95,
 195.16,
 195.15,
 194.795,
 194.87,
 194.47,
 194.35,
 194.47,
 194.46,
 194.52,
 194.55,
 194.84,
 194.82,
 194.85,
 194.66,
 194.56,
 194.62,
 194.64,
 194.56,
 194.72,
 194.57,
 194.73,
 194.77,
 194.85,
 194.945,
 195.35,
 195.31,
 195.44,
 195.54,
 195.57,
 195.53,
 195.68,
 195.73,
 195.68,
 195.78,
 195.82,
 195.89,
 195.92,
 195.8,
 195.69,
 195.82,
 195.83,
 195.93,
 195.91,
 195.73,
 195.85,
 195.9,
 195.99,
 195.96,
 195.91,
 195.9,
 195.84,
 195.9,
 195.95,
 195.94,
 195.96,
 195.86,
 195.79,
 195.83,
 195.83,
 195.84,
 195.79,
 195.7,
 195.57,
 195.72,
 195.72,
 195.78,
 195.85,
 195.9,
 195.94,
 195.97,
 195.95,
 195.92,
 196.05,
 196.2,
 196.2,
 196.22,
 196.37,
 196.45,
 196.37,
 196.32,
 196.27,
 196.25,
 196.29,
 196.37,
 196.425,
 196.35,
 196.32,
 196.37,
 196.38,
 196.22,
 196.21,
 196.29,
 196.16,
 196.08,
 195.925,
 196.0,
 195.95,
 195.92,
 195.9,
 195.81,
 195.92,
 195.96,
 195.94,
 196.07,
 196.0,
 196.13,
 196.1,
 196.17,
 196.09,
 195.96,
 196.07,
 195.97,
 195.95,
 195.95,
 195.94,
 195.93,
 195.84,
 195.86,
 195.94,
 195.89,
 195.96,
 195.945,
 196.03,
 195.98,
 196.02,
 196.23,
 196.21,
 196.36,
 196.35,
 196.37,
 196.36,
 196.335,
 196.28,
 196.28,
 196.31,
 196.3,
 196.32,
 196.32,
 196.34,
 196.325,
 196.35,
 196.34,
 196.36,
 196.37,
 196.3,
 196.25,
 196.2,
 196.08,
 196.13,
 196.05,
 196.07,
 196.06,
 196.07,
 196.1,
 196.03,
 196.065,
 196.13,
 196.07,
 196.05,
 196.11,
 196.17,
 196.135,
 196.09,
 196.09,
 195.94,
 195.99,
 195.99,
 196.01,
 195.97,
 195.98,
 195.92,
 195.97,
 196.06,
 196.02,
 195.94,
 195.95,
 195.97,
 195.885,
 195.83,
 195.75,
 195.76,
 195.73,
 195.7,
 195.66,
 195.665,
 195.72,
 195.63,
 195.64,
 195.61,
 195.64,
 195.605,
 195.58,
 195.56,
 195.69,
 195.73,
 195.73,
 195.76,
 195.77,
 195.85,
 195.85,
 195.79,
 195.75,
 195.785,
 ...]

In [128]:
aapl['prev_close'] = last_closes
aapl

,open,close,high,low,average,volume,notional,numberOfTrades,prev_close
datetime,,,,,,,,,
2019-04-01 09:30:00,191.645,190.650,191.645,190.60,191.189,4320,825935.940,44,190.650
2019-04-01 09:31:00,190.700,190.980,190.980,190.64,190.761,3246,619210.510,32,190.980
2019-04-01 09:32:00,191.060,190.930,191.090,190.78,190.951,2253,430211.740,30,190.930
2019-04-01 09:33:00,190.980,190.830,191.010,190.76,190.946,2241,427911.290,27,190.830
2019-04-01 09:34:00,190.760,190.700,190.760,190.60,190.666,1069,203822.465,12,190.700
...,...,...,...,...,...,...,...,...,...
2019-11-01 15:55:00,255.350,255.540,255.620,255.29,255.528,4917,1256432.140,36,255.540
2019-11-01 15:56:00,255.530,255.730,255.750,255.52,255.616,4788,1223891.590,42,255.730
2019-11-01 15:57:00,255.740,255.730,255.880,255.73,255.822,3798,971613.530,38,255.730
2019-11-01 15:58:00,255.730,255.665,255.780,255.61,255.661,8396,2146526.195,88,255.665
2019-11-01 15:59:00,255.665,255.880,255.880,255.65,255.743,11754,3006000.545,72,255.880

In [145]:
nan_cols = [ 'open', 'close', 'high', 'low', 'average' ]
for col in nan_cols:
    aapl[col].fillna(aapl['prev_close'], inplace=True)

aapl.drop(columns='prev_close', inplace=True)
aapl[nan_cols][nan_idxs]

                        open    close     high      low  average
datetime
2019-04-02 13:29:00  193.000  193.000  193.000  193.000  193.000
2019-04-05 13:36:00  196.540  196.540  196.540  196.540  196.540
2019-04-05 14:29:00  196.795  196.795  196.795  196.795  196.795
2019-04-15 13:33:00  198.910  198.910  198.910  198.910  198.910
2019-04-16 13:39:00  199.725  199.725  199.725  199.725  199.725
...                      ...      ...      ...      ...      ...
2019-11-01 12:46:00  253.060  253.060  253.060  253.060  253.060
2019-11-01 13:24:00  253.485  253.485  253.485  253.485  253.485
2019-11-01 13:29:00  253.470  253.470  253.470  253.470  253.470
2019-11-01 13:45:00  253.750  253.750  253.750  253.750  253.750
2019-11-01 14:37:00  253.865  253.865  253.865  253.865  253.865

[790 rows x 5 columns]

In [146]:
aapl.count()

open              56367
close             56367
high              56367
low               56367
average           56367
volume            56367
notional          56367
numberOfTrades    56367
dtype: int64

In [161]:
next_avgs = aapl[['close']]
next_avgs['datetime'] = next_avgs.index
next_avgs['datetime'] = next_avgs['datetime'].apply(lambda dt: dt - Δ(minutes=1))
next_avgs.set_index('datetime', inplace=True)
next_avgs.rename(columns={'close': 'next_close'}, inplace=True)
next_avgs

/Users/ryan/.pyenv/versions/notebooks-3.7.4/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/ryan/.pyenv/versions/notebooks-3.7.4/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                     next_close
datetime
2019-04-01 09:29:00     190.650
2019-04-01 09:30:00     190.980
2019-04-01 09:31:00     190.930
2019-04-01 09:32:00     190.830
2019-04-01 09:33:00     190.700
...                         ...
2019-11-01 15:54:00     255.540
2019-11-01 15:55:00     255.730
2019-11-01 15:56:00     255.730
2019-11-01 15:57:00     255.665
2019-11-01 15:58:00     255.880

[56367 rows x 1 columns]

In [172]:
aapl = aapl.merge(next_avgs, how='left', left_index=True, right_index=True).dropna(subset=['next_close']); aapl

,open,close,high,low,average,volume,notional,numberOfTrades,next_close
datetime,,,,,,,,,
2019-04-01 09:30:00,191.645,190.650,191.645,190.600,191.189,4320,825935.940,44,190.980
2019-04-01 09:31:00,190.700,190.980,190.980,190.640,190.761,3246,619210.510,32,190.930
2019-04-01 09:32:00,191.060,190.930,191.090,190.780,190.951,2253,430211.740,30,190.830
2019-04-01 09:33:00,190.980,190.830,191.010,190.760,190.946,2241,427911.290,27,190.700
2019-04-01 09:34:00,190.760,190.700,190.760,190.600,190.666,1069,203822.465,12,190.850
...,...,...,...,...,...,...,...,...,...
2019-11-01 15:54:00,255.200,255.300,255.360,255.135,255.267,3520,898538.565,37,255.540
2019-11-01 15:55:00,255.350,255.540,255.620,255.290,255.528,4917,1256432.140,36,255.730
2019-11-01 15:56:00,255.530,255.730,255.750,255.520,255.616,4788,1223891.590,42,255.730
2019-11-01 15:57:00,255.740,255.730,255.880,255.730,255.822,3798,971613.530,38,255.665
2019-11-01 15:58:00,255.730,255.665,255.780,255.610,255.661,8396,2146526.195,88,255.880

In [174]:
aapl.count()

open              56219
close             56219
high              56219
low               56219
average           56219
volume            56219
notional          56219
numberOfTrades    56219
next_close        56219
dtype: int64

In [175]:
from random import random, seed

In [262]:
validation_split = 0.1

# decide whether a given minute should be treated as a validation (otherwise: training) test case
# seed PRNG so that this info is stable over time, and we never train on samples marked for "validation"
def get_validation_flag(dt):
    seed(int(dt.strftime('%Y%m%d%H%M')))
    return random() < validation_split

vfs = aapl.index.to_series().apply(get_validation_flag); vfs
nt, nv = vfs[~vfs].count(), vfs[vfs].count()
n = nt + nv
nt / n, nv / n

(0.8985930023657482, 0.10140699763425176)

In [185]:
aapl['validation'] = vfs; aapl

,open,close,high,low,average,volume,notional,numberOfTrades,next_close,validation
datetime,,,,,,,,,,
2019-04-01 09:30:00,191.645,190.650,191.645,190.600,191.189,4320,825935.940,44,190.980,False
2019-04-01 09:31:00,190.700,190.980,190.980,190.640,190.761,3246,619210.510,32,190.930,True
2019-04-01 09:32:00,191.060,190.930,191.090,190.780,190.951,2253,430211.740,30,190.830,False
2019-04-01 09:33:00,190.980,190.830,191.010,190.760,190.946,2241,427911.290,27,190.700,False
2019-04-01 09:34:00,190.760,190.700,190.760,190.600,190.666,1069,203822.465,12,190.850,False
...,...,...,...,...,...,...,...,...,...,...
2019-11-01 15:54:00,255.200,255.300,255.360,255.135,255.267,3520,898538.565,37,255.540,False
2019-11-01 15:55:00,255.350,255.540,255.620,255.290,255.528,4917,1256432.140,36,255.730,True
2019-11-01 15:56:00,255.530,255.730,255.750,255.520,255.616,4788,1223891.590,42,255.730,True
2019-11-01 15:57:00,255.740,255.730,255.880,255.730,255.822,3798,971613.530,38,255.665,False
2019-11-01 15:58:00,255.730,255.665,255.780,255.610,255.661,8396,2146526.195,88,255.880,False

In [202]:
aapl.to_csv(data_dir / 'aapl.csv')

In [255]:
cols = features + [ 'next_close' ]
trn = aapl[~aapl.validation][cols]
val = aapl[ aapl.validation][cols]
stats = \
    concat(
        [ 
            trn.mean(axis=0).rename('mean'), 
            trn.std(axis=0).rename('stddev') 
        ], 
        axis=1
    ) \
    .transpose(copy=True)

means = stats.loc['mean']
stddevs = stats.loc['stddev']

stats

,open,close,high,low,average,volume,notional,numberOfTrades,next_close
mean,207.866821,207.865959,207.922829,207.808743,207.866640,1725.638188,352696.439237,16.834673,207.866104
stddev,16.675256,16.676134,16.667464,16.684040,16.675257,3062.550611,647547.286346,17.739746,16.676562

In [256]:
normed = (aapl[cols] - means[cols]) / stddevs[cols]; normed

,open,close,high,low,average,volume,notional,numberOfTrades,next_close
datetime,,,,,,,,,
2019-04-01 09:30:00,-0.972808,-1.032371,-0.976623,-1.031449,-1.000143,0.847125,0.730818,1.531326,-1.012565
2019-04-01 09:31:00,-1.029479,-1.012582,-1.016521,-1.029052,-1.025810,0.496436,0.411575,0.854878,-1.015563
2019-04-01 09:32:00,-1.007890,-1.015581,-1.009921,-1.020661,-1.014416,0.172197,0.119706,0.742137,-1.021560
2019-04-01 09:33:00,-1.012687,-1.021577,-1.014721,-1.021859,-1.014715,0.168279,0.116153,0.573026,-1.029355
2019-04-01 09:34:00,-1.025881,-1.029373,-1.029720,-1.031449,-1.031507,-0.214409,-0.229904,-0.272533,-1.020360
...,...,...,...,...,...,...,...,...,...
2019-11-01 15:54:00,2.838528,2.844427,2.846094,2.836619,2.842556,0.585904,0.842938,1.136731,2.858737
2019-11-01 15:55:00,2.847523,2.858819,2.861693,2.845909,2.858208,1.042060,1.395629,1.080361,2.870130
2019-11-01 15:56:00,2.858318,2.870212,2.869493,2.859694,2.863486,0.999938,1.345377,1.418584,2.870130
2019-11-01 15:57:00,2.870911,2.870212,2.877293,2.872281,2.875839,0.676678,0.955787,1.193102,2.866232
2019-11-01 15:58:00,2.870311,2.866314,2.871293,2.865089,2.866184,2.178041,2.770191,4.011632,2.879124

In [261]:
concat(
    [ 
        normed[~aapl.validation].mean(axis=0).rename('train_mean'), 
        normed[~aapl.validation].std(axis=0).rename('train_stddev'),
        normed[ aapl.validation].mean(axis=0).rename('val_mean'), 
        normed[ aapl.validation].std(axis=0).rename('val_stddev'),
        normed                  .mean(axis=0).rename('mean'), 
        normed                  .std(axis=0).rename('stddev'),
    ], 
    axis=1
)

,train_mean,train_stddev,val_mean,val_stddev,mean,stddev
open,-8.449753e-14,1.0,0.011879,0.999344,0.001205,0.999931
close,1.834638e-14,1.0,0.011899,0.999314,0.001207,0.999928
high,-1.327459e-13,1.0,0.011984,0.999340,0.001215,0.999931
low,1.251468e-13,1.0,0.011832,0.999342,0.001200,0.999931
average,-3.050378e-14,1.0,0.011908,0.999346,0.001208,0.999931
volume,1.165807e-15,1.0,0.007950,1.148855,0.000806,1.016081
notional,-1.141307e-15,1.0,0.008522,1.160387,0.000864,1.017409
numberOfTrades,-4.350348e-15,1.0,0.015134,1.012939,0.001535,1.001321
next_close,-9.199683e-15,1.0,0.011911,0.999216,0.001208,0.999918

In [264]:
window = 30

def make_windowed_array(feature):        
    col = normed[feature]
    df = concat([ col.shift(lag) for lag in reversed(range(window)) ], axis=1)
    return df.values

array([ make_windowed_array for feature in features ])[(window-1):]

array([], dtype=object)

In [265]:
normed

,open,close,high,low,average,volume,notional,numberOfTrades,next_close
datetime,,,,,,,,,
2019-04-01 09:30:00,-0.972808,-1.032371,-0.976623,-1.031449,-1.000143,0.847125,0.730818,1.531326,-1.012565
2019-04-01 09:31:00,-1.029479,-1.012582,-1.016521,-1.029052,-1.025810,0.496436,0.411575,0.854878,-1.015563
2019-04-01 09:32:00,-1.007890,-1.015581,-1.009921,-1.020661,-1.014416,0.172197,0.119706,0.742137,-1.021560
2019-04-01 09:33:00,-1.012687,-1.021577,-1.014721,-1.021859,-1.014715,0.168279,0.116153,0.573026,-1.029355
2019-04-01 09:34:00,-1.025881,-1.029373,-1.029720,-1.031449,-1.031507,-0.214409,-0.229904,-0.272533,-1.020360
...,...,...,...,...,...,...,...,...,...
2019-11-01 15:54:00,2.838528,2.844427,2.846094,2.836619,2.842556,0.585904,0.842938,1.136731,2.858737
2019-11-01 15:55:00,2.847523,2.858819,2.861693,2.845909,2.858208,1.042060,1.395629,1.080361,2.870130
2019-11-01 15:56:00,2.858318,2.870212,2.869493,2.859694,2.863486,0.999938,1.345377,1.418584,2.870130
2019-11-01 15:57:00,2.870911,2.870212,2.877293,2.872281,2.875839,0.676678,0.955787,1.193102,2.866232
2019-11-01 15:58:00,2.870311,2.866314,2.871293,2.865089,2.866184,2.178041,2.770191,4.011632,2.879124

## Window size: 20

In [ ]:
aapl = array([ load_data_arr(date, ticker) for date in dates ]); aapl.shape

In [ ]:
shape = aapl.shape
aapl = aapl.reshape((shape[0] * shape[1], shape[2]))
avg = features.index('average')
avgs = aapl[:, avg]
shape = aapl.shape; shape

In [ ]:
y = np.roll(avgs, -1)
y = y[:-1]
x = aapl[:-1]
x.shape, y.shape

In [ ]:
window = 20
n = x.shape[0]
x = np.array([ x[i:(i+window)] for i in range(n-window+1) ])
y = y[(window-1):]
x.shape, y.shape

In [ ]:
idxs = np.logical_and([ (cnz(na(row)) == 0) for row in x ], ~na(y))
y = y[idxs]
x = x[idxs]
x.shape, y.shape

In [ ]:
n = x.shape[0]

In [ ]:
xa = x[:, -1, avg]
xa[:10], y[:10]

In [ ]:
cnz(xa > y), cnz(xa < y), cnz(xa == y)

In [ ]:
(xa - y).max(), (xa - y).min()

In [ ]:
mean((xa - y)**2)

-------

In [ ]:
ox = x.copy()
oy = y.copy()

In [ ]:
x = ox
y = oy

In [ ]:
perm = permutation(n); perm

In [ ]:
x = x[perm]
y = y[perm]

In [ ]:
val_split = 0.1
tn = int((1 - val_split) * n)
vn = n - tn
tx = x[:tn]
ty = y[:tn]
vx = x[tn:]
vy = y[tn:]
[ a.shape for a in [tx,ty,vx,vy] ]

In [ ]:
u = mean(tx[:, -1, :], axis=0)
s = std(tx[:, -1, :], axis=0)
x = (x - u) / s
y = (y - u[avg]) / s[avg]
mean(x[:, -1, :], axis=0), std(x[:, -1, :], axis=0), mean(y), std(y)

In [ ]:
val_split = 0.1
tn = int((1 - val_split) * n)
vn = n - tn
tx = x[:tn]
ty = y[:tn]
vx = x[tn:]
vy = y[tn:]
[ a.shape for a in [tx,ty,vx,vy] ]

In [ ]:
from tensorflow.keras.layers import Input, SimpleRNN, Dense
from tensorflow.keras import Sequential

In [ ]:
model = Sequential()
model.add(SimpleRNN(4, input_shape=(window, len(features))))
model.add(Dense(1))
model.build()
model.compile(loss='mae', optimizer='adam')
model.summary()

In [ ]:
px = model.predict(vx)
px.max() - px.min(), x[:10, -1, 0], y[:10], px[:10, -1]

In [ ]:
mean(abs(tx[:, -1, avg] - ty)), mean(abs(vx[:, -1, avg] - vy)), mean(abs(x[:, -1, avg] - y))

In [ ]:
%%time
model.fit(x, y, 
          validation_split=0.1,
          batch_size=n,
          epochs=100000)

px = model.predict(x)
res = np.swapaxes(array([x[:10, -1, 0], y[:10], px[:10, -1]]), 0, 1)
px.max() - px.min(), res

In [ ]:
w = model.get_weights(); w, [ l.shape for l in w ]

In [ ]:
!{python} -m pip install -Uq scipy
from scipy.stats import describe

In [ ]:
describe(ty)